In [1]:
people = {
    'first':['Charan','Amit','Yash'],
    'last' :['Shetty','Trivedi','Patel'],
    'email':['cshetty@etech.medallia.com','atrivedi@etech.medallia.com','ypatel@etech.medallia.com']
}

In [2]:
import pandas as pd
df = pd.DataFrame(people)
df

    first     last                        email
0  Charan   Shetty   cshetty@etech.medallia.com
1    Amit  Trivedi  atrivedi@etech.medallia.com
2    Yash    Patel    ypatel@etech.medallia.com

In [3]:
df['email']

0     cshetty@etech.medallia.com
1    atrivedi@etech.medallia.com
2      ypatel@etech.medallia.com
Name: email, dtype: object

In [4]:
type(df['email'])

pandas.core.series.Series

In [5]:
df.email

0     cshetty@etech.medallia.com
1    atrivedi@etech.medallia.com
2      ypatel@etech.medallia.com
Name: email, dtype: object

In [6]:
type(df.email)

pandas.core.series.Series

In [7]:
df[['last','email']]

      last                        email
0   Shetty   cshetty@etech.medallia.com
1  Trivedi  atrivedi@etech.medallia.com
2    Patel    ypatel@etech.medallia.com

In [8]:
type(df[['last','email']])

pandas.core.frame.DataFrame

In [9]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
df.iloc[0]

first                        Charan
last                         Shetty
email    cshetty@etech.medallia.com
Name: 0, dtype: object

In [11]:
type(df.iloc[0])

pandas.core.series.Series

In [12]:
df.iloc[[0,1]]

    first     last                        email
0  Charan   Shetty   cshetty@etech.medallia.com
1    Amit  Trivedi  atrivedi@etech.medallia.com

In [13]:
type(df.iloc[[0,1]])

pandas.core.frame.DataFrame

In [14]:
df.iloc[[0,1],2]

0     cshetty@etech.medallia.com
1    atrivedi@etech.medallia.com
Name: email, dtype: object

In [15]:
df

    first     last                        email
0  Charan   Shetty   cshetty@etech.medallia.com
1    Amit  Trivedi  atrivedi@etech.medallia.com
2    Yash    Patel    ypatel@etech.medallia.com

In [16]:
df.loc[0]

first                        Charan
last                         Shetty
email    cshetty@etech.medallia.com
Name: 0, dtype: object

In [17]:
df.loc[[0,1]]

    first     last                        email
0  Charan   Shetty   cshetty@etech.medallia.com
1    Amit  Trivedi  atrivedi@etech.medallia.com

In [18]:
df.loc[[0,1],'email']

0     cshetty@etech.medallia.com
1    atrivedi@etech.medallia.com
Name: email, dtype: object

In [19]:
df.loc[[0,1],['email','last']]

                         email     last
0   cshetty@etech.medallia.com   Shetty
1  atrivedi@etech.medallia.com  Trivedi

In [20]:
df.loc[0,['email','last']]

email    cshetty@etech.medallia.com
last                         Shetty
Name: 0, dtype: object

In [21]:
df.set_index('email')

                              first     last
email
cshetty@etech.medallia.com   Charan   Shetty
atrivedi@etech.medallia.com    Amit  Trivedi
ypatel@etech.medallia.com      Yash    Patel

In [22]:
df

    first     last                        email
0  Charan   Shetty   cshetty@etech.medallia.com
1    Amit  Trivedi  atrivedi@etech.medallia.com
2    Yash    Patel    ypatel@etech.medallia.com

In [23]:
df.set_index('email',inplace=True)
df

                              first     last
email
cshetty@etech.medallia.com   Charan   Shetty
atrivedi@etech.medallia.com    Amit  Trivedi
ypatel@etech.medallia.com      Yash    Patel

In [24]:
df.index

Index(['cshetty@etech.medallia.com', 'atrivedi@etech.medallia.com',
       'ypatel@etech.medallia.com'],
      dtype='object', name='email')

In [25]:
df.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [ ]:
df.loc['cshetty@etech.medallia.com']

In [ ]:
df.iloc[0]

In [ ]:
df.loc['cshetty@etech.medallia.com','last']

In [ ]:
df.iloc[0]

In [ ]:
df.reset_index(inplace=False)

In [ ]:
df['last']=='Shetty'

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
filt = (df['last']=='Shetty')

In [ ]:
filt

In [ ]:
df[filt]

In [ ]:
df.loc[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
filt= (df['last']=='Shetty') & (df['first']=='Charan')
df.loc[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
filt= (df['last']=='Shetty') | (df['first']=='Charan')
df.loc[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
df.loc[~filt,'email']