In [8]:
people = {
    'first':['Charan','Amit','Yash'],
    'last' :['Shetty','Shetty','Patel'],
    'email':['cshetty@etech.medallia.com','ashetty@etech.medallia.com','ypatel@etech.medallia.com']
}

In [9]:
import pandas as pd
df = pd.DataFrame(people)
df

    first    last                       email
0  Charan  Shetty  cshetty@etech.medallia.com
1    Amit  Shetty  ashetty@etech.medallia.com
2    Yash   Patel   ypatel@etech.medallia.com

In [10]:
df.sort_values(by='last')

    first    last                       email
2    Yash   Patel   ypatel@etech.medallia.com
0  Charan  Shetty  cshetty@etech.medallia.com
1    Amit  Shetty  ashetty@etech.medallia.com

In [11]:
df.sort_values(by='last',ascending=False)

    first    last                       email
0  Charan  Shetty  cshetty@etech.medallia.com
1    Amit  Shetty  ashetty@etech.medallia.com
2    Yash   Patel   ypatel@etech.medallia.com

In [12]:
df.sort_values(by=['last','first'])

    first    last                       email
2    Yash   Patel   ypatel@etech.medallia.com
1    Amit  Shetty  ashetty@etech.medallia.com
0  Charan  Shetty  cshetty@etech.medallia.com

In [15]:
df.sort_values(by=['last','first'],ascending=False)

    first    last                       email
0  Charan  Shetty  cshetty@etech.medallia.com
1    Amit  Shetty  ashetty@etech.medallia.com
2    Yash   Patel   ypatel@etech.medallia.com

In [16]:
df.sort_values(by=['last','first'],ascending=[False,True])

    first    last                       email
1    Amit  Shetty  ashetty@etech.medallia.com
0  Charan  Shetty  cshetty@etech.medallia.com
2    Yash   Patel   ypatel@etech.medallia.com

In [17]:
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)

In [18]:
df

    first    last                       email
1    Amit  Shetty  ashetty@etech.medallia.com
0  Charan  Shetty  cshetty@etech.medallia.com
2    Yash   Patel   ypatel@etech.medallia.com

In [19]:
df.sort_index()

    first    last                       email
0  Charan  Shetty  cshetty@etech.medallia.com
1    Amit  Shetty  ashetty@etech.medallia.com
2    Yash   Patel   ypatel@etech.medallia.com

In [20]:
df['last'].sort_values()

2     Patel
1    Shetty
0    Shetty
Name: last, dtype: object